<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Dettaglio Pizza</title>
	<div th:replace="~{fragments :: head}"></div>
</head>

<body>
	<header class="container-fluid">
		<div class="row col-6 m-auto">
			<a th:href="@{/}" class="btn btn-secondary my-3">torna alla home</a>
		</div>
		<div class="row text-center">
			<h1 class="">Scopri la pizza</h1>
		</div>
	</header>
	<main class="container">
		<div class="col-md-4">
			<img th:src="${pizza.getPhoto()}" class="img-fluid" alt="...">
		</div>
		<div class="col-md-8">
			<h5 class="">[[${pizza.name}]]</h5>
			<p class="">[[${pizza.description}]]</p>
			<p class="">[[${pizza.price}]] €</p>
		</div>
	</main>
	<div th:replace="~{fragments :: script}"></div>
	<div>
		<h3>Offerte:</h3>
		<p th:if="${pizza.offers.size()==0}">non ci sono offerte attive</p>
		<div class="col-12">
			<table th:if="${pizza.offers.size()>0}" class="table">
				<thead>
					<tr>
						<td>Id</td>
						<td>Inizio</td>
						<td>Fine offerta</td>
						<td>Nome</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="offer : ${pizza.offers}">
						<td th:text="${offer.id}"></td>
						<td th:text="${#temporals.format(offer.offerBeginDate,'dd/MM/yyyy')}"></td>
						<td th:text="${#temporals.format(offer.offerEndDate,'dd/MM/yyyy')}"></td>
						<td th:text="${offer.title}"></td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
</body>

</html>